.copy-box {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  background: transparent;
  border: none;
  color: white;
}
.h5-light-100 {
  margin: auto 0;
  font-weight: 600 !important;
  font-size: 15px !important;
  letter-spacing: 0.09px !important;
  line-height: 24px !important;
}
.snippet-header {
  font-family: Montserrat, sans-serif;
  border-radius: 4px 4px 0 0;
  color: #fff !important;
  background-color: #3f4556;
  min-height: 36px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.snippet-content {
  font-size: 12px;
  background-color: #4f566b;
  font-family: monospace, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
  padding: 12px 16px;
  overflow: auto;
  color: white;
}
.line {
  display: flex;
  margin: 0;
  text-align: letf;
  overflow: visible;
}
.snippet-content .line:first-child .line-number {
  margin-right: 24px;
}

.line-number {
  margin-right: 34px;
  min-width: 16px;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  opacity: 0.5;
  -ms-user-select: none;
  user-select: none;
}

.line-command {
  word-break: break-all;
  text-align: left;
}
